<div style="font-size: 11pt">
    <div>
        <!-- <label for="scheme-select">Color Scheme:</label> -->
        <select id="scheme-select" name="scheme" [(ngModel)]="selectedScheme" (change)="onSchemeChange($event)">
            <option *ngFor="let scheme of schemes" [value]="scheme">{{ scheme }}</option>
        </select>
        <span style="border-left: 2px solid #ddd; padding-left: 5px"></span>
    </div>

    <div>
        Style:
        <label [for]="'2d-' + uniqueId">
            <input type="radio" [id]="'2d-' + uniqueId" [name]="'style-' + uniqueId" [value]="'2d'"
                [(ngModel)]="selectedStyle" (change)="onStyleChange('2d')" />2D
        </label>
        <label [for]="'3d-' + uniqueId">
            <input type="radio" [id]="'3d-' + uniqueId" [name]="'style-' + uniqueId" [value]="'3d'"
                [(ngModel)]="selectedStyle" (change)="onStyleChange('3d')" />3D
        </label>
        <label [for]="'flat-' + uniqueId">
            <input type="radio" [id]="'flat-' + uniqueId" [name]="'style-' + uniqueId" [value]="'flat'"
                [(ngModel)]="selectedStyle" (change)="onStyleChange('flat')" />Flat
        </label>
        <button type="button" (click)="onPauseClick()" style="margin-left:8px;">{{ isRotating ? 'Pause' : 'Resume'
            }}</button>
        <span style="border-left: 2px solid #ddd; padding-left: 5px"></span>
    </div>

    <div>
        <!-- <label>
            <input type="checkbox" name="showpct" [(ngModel)]="showPercentage" (change)="toggleShowPercentage()" />
            Show percentage of the
        </label>
        <label for="first">
            <input type="radio" id="first" name="pct" [value]="'first'" [(ngModel)]="selectedPctOption" />first
        </label>
        <label for="previous">
            <input type="radio" id="previous" name="pct" [value]="'previous'" [(ngModel)]="selectedPctOption" />previous
        </label>
        stage -->
    </div>
</div>