<!-- <h1 class="title">World Aid Summary</h1>
<div class="button-group">
    <a routerLink="" class="previous">&laquo; Home</a>
    <a routerLink="/sankey" class="next">Next &raquo;</a>
</div> -->
<!-- <alaaap-header></alaaap-header> -->
<div class="button-group" id="voronoi">
    <header>
        <div class="header">
            <h1 class="title">World Aid Summary</h1>
            <div class="button-group">
                <button class="button" routerLink="">&laquo; Home</button>
                <button class="button button3" title="Click to download jpg image" id="map2Jpg"
                    (click)="setDownload()">Download Image JPG</button>
                <button class="button button2" routerLink="/sankey">Next &raquo;</button>
            </div>
        </div>
    </header>
</div>

<single-card [loading]="isLoading">
    <div class="panel-body">
        <div id="svg_container">
            <h1>Year in focus: {{currentYear}}</h1>
            <img id="img" width=1 height=1 />
            <a *ngIf="showDownload" id="anchor" download={{currentYear.toString()+imageSource}} (click)="setDownload()">
                {{"Foreign Aid Data in : " + currentYear}}</a>
            <div id="chart">
                <!-- <svg></svg> -->
            </div>
        </div>
    </div>
</single-card>