<h1 class="title">World Aid Summary</h1>
<div class="button-group">
    <a routerLink="" class="previous">&laquo; Home</a>
    <a routerLink="/analytics" class="next">Next &raquo;</a>
</div>
<alaaap-header>
</alaaap-header>

<single-card>
    <div class="panel-body">
        <div id="svg_container">
            <h1>Year in focus: {{currentYear}}</h1>
            <a type="button" class="download-button" title="Click to download png image" id="map2Jpg"
                (click)="setDownload()">
                Download Image JPG
            </a>
            <img id="img" width=1 height=1 />
            <a *ngIf="showDownload" id="anchor" download={{currentYear.toString()+imageSource}}>
                {{"Foreign Aid Data in : " + currentYear}}</a>
            <div id="chart">
                <!-- <svg></svg> -->
            </div>
        </div>
    </div>
</single-card>