<div class="button-group" id="funnel">
    <header>
        <div class="header">
            <h1>Realtime Monitor</h1>
            <div class="button-group">
                <button class="button" routerLink="">&laquo; Home</button>
                <button class="button button2" routerLink="/browser">Next &raquo;</button>
            </div>
        </div>
    </header>
</div>
<div class="grid">
    <!-- Row 1 -->
    <div class="column">
        <animated-bubble [trades]="trades"></animated-bubble>
    </div>
    <div class="column">
        <animated-bubble [trades]="trades"></animated-bubble>
    </div>
    <div class="column">
        <animated-bubble [trades]="trades"></animated-bubble>
    </div>

    <!-- Row 2 -->
    <div class="column">
        <animated-bubble [trades]="trades"></animated-bubble>
    </div>
    <div class="column">
        <animated-bubble [trades]="trades"></animated-bubble>
    </div>
    <div class="column">
        <animated-bubble [trades]="trades"></animated-bubble>
    </div>

    <!-- Row 3 -->
    <div class="column">
        <animated-bubble [trades]="trades"></animated-bubble>
    </div>
    <div class="column">
        <animated-bubble [trades]="trades"></animated-bubble>
    </div>
    <div class="column">
        <animated-bubble [trades]="trades"></animated-bubble>
    </div>
</div>