<div class="button-group" id="funnel">
    <header>
        <div class="header">
            <h1>Crypto Trade Monitor</h1>
            <div class="button-group">
                <button class="button" routerLink="">&laquo; Home</button>
                <button class="button button2" routerLink="/browser">Next &raquo;</button>
            </div>
        </div>
    </header>
</div>

<div class="grid">
    <div class="column" *ngFor="let productId of productIds">
        <animated-bubble [trades]="trades"></animated-bubble>
    </div>
</div>