<overlay [action]="'close'">
    <div class="panel-body">
        <div class="content">
            <div id="vis"></div>
            <div class="controls">
                <button (click)="generateRandomData()" class="generate-btn">Generate Random Data</button>
            </div>
        </div>
    </div>
</overlay>
<!-- <route-overlay (close)="onClose()">
    <div class="overlay-demo-content">
        <div class="chart-container">
            <single-card>
                <div class="panel-body">
                    
                </div>
            </single-card>
        </div>
    </div>
</route-overlay> -->