<div class="button-group" id="voronoi">
  <header>
    <div class="header">
      <div class="button-group">
        <button class="button" routerLink="">&laquo; Home</button>
        <button class="button button2" routerLink="/funnel">Next &raquo;</button>
      </div>
    </div>
  </header>
</div>
<div>
  <alaaap-header></alaaap-header>
</div>
<div class="row">
  <div class="column">
    <single-card>
      <div class="panel-body">
        <radial-chart [data]="data3"></radial-chart>
      </div>
    </single-card>
  </div>
  <div class="column">
    <single-card>
      <div class="panel-body">
        <donut [logData]="data3"></donut>
      </div>
    </single-card>
  </div>
  <div class="column">
    <single-card>
      <div class="panel-body">
        <donut [logData]="data2"></donut>
      </div>
    </single-card>
  </div>
</div>

<div class="row">
  <div class="column">
    <single-card>
      <div class="panel-body">
        <radial-chart [data]="data3"></radial-chart>
      </div>
    </single-card>
  </div>
  <div class="column">
    <single-card>
      <div class="panel-body">
        <donut [logData]="data3"></donut>
      </div>
    </single-card>
  </div>
  <div class="column">
    <single-card>
      <div class="panel-body">
        <donut [logData]="data2"></donut>
      </div>
    </single-card>
  </div>
</div>