<div class="button-group" id="funnel">
    <header>
        <div class="header">
            <h1>MITRE ATT&CK Summary</h1>
            <div class="button-group">
                <button class="button" routerLink="">&laquo; Home</button>
                <button class="button button2" routerLink="/earth">Next &raquo;</button>
            </div>
        </div>
    </header>
</div>
<single-card [loading]="false">
    <div class="panel-body">
        <div id="tree-container" class="tree-container"></div>
    </div>
</single-card>