<div class="button-group" id="funnel" *ngIf="activatedRoute==='funnel'">
    <header>
        <div class="header">
            <h1>Funnel Chart</h1>
            <div class="button-group">
                <button class="button" routerLink="">&laquo; Home</button>
                <button class="button button2" routerLink="/browser">Next &raquo;</button>
            </div>
        </div>
    </header>
</div>
<single-card [loading]="isLoading">
    <div class="panel-body">
        <div class="controls">
            <form-select (schemeChange)="onSchemeChange($event)" (styleChange)="onStyleChange($event)"
                (percentageToggle)="onPercentageToggle($event)" (pctOptionChange)="onPctOptionChange($event)"
                (pauseClick)="onPauseClick()" [isRotating]="isRotating"></form-select>
        </div>
        <div id="svg_container">
            <img id="img" width=1 height=1 />
            <!-- <button *ngIf="showDownload"><a id="anchor" download={{currentYear+imageSource}}>
                    {{"Download Browser Share Image: "+currentYear}}</a></button> -->
            <svg width="1" height="1"></svg>
        </div>
    </div>
</single-card>