<div class="button-group" id="voronoi">
    <header>
        <div class="header">
            <h1>Browser Realtime Monitor</h1>
            <div class="button-group">
                <button class="button" routerLink="">&laquo; Home</button>
                <button class="button button2" routerLink="/voronoi">Next &raquo;</button>

            </div>
        </div>
    </header>
</div>
<div class="grid">
    <!-- Row 1 -->
    <div class="column">
        <donut-race></donut-race>
    </div>
    <div class="column">
        <donut-race></donut-race>
    </div>
    <div class="column">
        <donut-race></donut-race>
    </div>

    <!-- Row 2 -->
    <div class="column">
        <donut-race></donut-race>
    </div>
    <div class="column">
        <donut-race></donut-race>
    </div>
    <div class="column">
        <donut-race></donut-race>
    </div>

    <!-- Row 3 -->
    <div class="column">
        <donut-race></donut-race>
    </div>
    <div class="column">
        <donut-race></donut-race>
    </div>
    <div class="column">
        <donut-race></donut-race>
    </div>
</div>