<div class="button-group" id="voronoi">
    <header>
        <div class="header">
            <div class="button-group">
                <h1>Energy Conversion & Transmission </h1>
                <button class="button" routerLink="">&laquo; Home</button>
                <button class="button button3" title="Click to download jpg image" id="map2Jpg"
                    (click)="setDownload()">Download Image JPG</button>
                <button class="button button2" routerLink="/compvaluation">Next &raquo;</button>
                <button class="button" (click)="reDrawChart()">Refresh</button>
            </div>
        </div>
    </header>
</div>

<single-card>
    <div class="panel-body">
        <div id="svg_container">
            <img id="img" width=1 height=1 />
            <a *ngIf="showDownload" id="anchor" download={{imageSource}}>
                {{"Download Energy Conversion & Transmission Data"}}</a>

            <div id="chart"></div>
        </div>
    </div>
</single-card>