<header>
    <div class="header">
        <h1>Bitcoin Performance</h1>
        <div class="button-group">
            <button class="button" routerLink="">&laquo; Home</button>
            <button class="button button3" title="Click to download png image" id="map2Jpg"
                (click)="setDownload()">Download Image JPG</button>
            <button class="button button2" routerLink="/funnel">Next &raquo;</button>

        </div>
    </div>
</header>
<single-card>
    <div class="panel-body">
        <label>
            <input type="checkbox" (change)="toggleAnnotations()" />
            Show Annotations
        </label>
        <div id="line-chart"></div>
    </div>
</single-card>