<header>
    <div class="header">
        <h1>Bitcoin Performance</h1>
        <div class="button-group">
            <button class="button" routerLink="">&laquo; Home</button>
            <button class="button button3" title="Click to download png image" id="map2Jpg"
                (click)="setDownload()">Download Image JPG</button>
            <button class="button button2" routerLink="/funnel">Next &raquo;</button>

        </div>
    </div>
</header>
<single-card [loading]="isLoading">
    <div class="panel-body">
        <label>
            <input type="checkbox" (change)="toggleAnnotations()" />
            Show Annotations
        </label>
        <div id="line-chart"></div>
    </div>
</single-card>

<!-- <div>
    <div class='row'>
        <div class='column'>
            <overlay [action]="'minimize'" [loading]="false">
                <div class="panel-title">{{'alertCountDataTitle'}}
                </div>
                <div class="panel-body">
                    <div class="date-label">{{'Spark Line'}}</div>
                    <div class="scrolling-container">
                        <div>
                            <sparkline-chart [color]="'#ff9f3f'" [unit]="'Alerts'">
                            </sparkline-chart>
                        </div>
                    </div>
                </div>
            </overlay>
        </div>
    </div>
</div> -->