<!-- <canvas #canvas [width]="width" [height]="height"></canvas> -->
<!-- <svg #svgCanvas [attr.width]="width" [attr.height]="height" (mousemove)="onMouseMove($event)">
</svg> -->

<svg #svgCanvas [attr.width]="width" [attr.height]="height" (mousemove)="onMouseMove($event)">
    <defs>
        <clipPath id="circle-clip">
            <circle [attr.cx]="width / 2" [attr.cy]="height / 2" [attr.r]="radius" />
        </clipPath>
    </defs>
    <g clip-path="url(#circle-clip)">
        <g #voronoiLayer></g>
        <g #pointLayer></g>
    </g>
    <circle [attr.cx]="width / 2" [attr.cy]="height / 2" [attr.r]="radius" stroke="black" fill="none"></circle>
</svg>