<overlay [action]="'minimize'" [loading]="false">
   <div class="panel-title">
      <h2 class="title">Incident Summary</h2>
      <span>

      </span>
   </div>
   <div class="panel-body">
      <div class="row">
         <div class="column">
            <div class="card">
               <header id="header">
                  <h1>RansomWare</h1>
               </header>
               <!-- <div>
                  Count
               </div> -->
               <div>
                  <span class="change">Incident Count: 3616</span>
                  <span class="material-icons" [ngClass]="'decrease'">play_arrow</span>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="card">
               <header id="header">
                  <h1>Phishing Report</h1>
               </header>
               <div>
                  <span class="change">Incident Count: 59</span>
                  <span class="material-icons" [ngClass]="'decrease'">play_arrow</span>
               </div>
               <!-- <div>
                  <span class="count"><strong>Cccount</strong></span>
               </div>
               <div>
                  <span>
                     |number</span>
                  <span class="material-icons">play_arrow</span>
               </div> -->
            </div>
         </div>
         <div class="column">
            <div class="card">
               <header id="header">
                  <h1>MITM Attacks</h1>
               </header>
               <div>
               </div>
               <div>
                  <span class="change">Incident Count: 127</span>
                  <span class="material-icons" [ngClass]="'decrease'">play_arrow</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</overlay>