<overlay [action]="'minimize'" [loading]="false">
   <div class="panel-title">
      <h2 class="title">Summary</h2>
      <span>

      </span>
   </div>
   <div class="panel-body">
      <div class="row">
         <div class="column">
            <div class="card">
               <header id="header">
                  <h1>Logs</h1>
               </header>
               <div>
                  Count
               </div>
               <div>

                  <span class="material-icons" [ngClass]="">play_arrow</span>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="card">
               <header id="header">
                  <h1>Reporting Assets</h1>
               </header>
               <div>
                  <span class="count"><strong>Cccount</strong></span>
               </div>
               <div>
                  <span>
                     |number</span>
                  <span class="material-icons">play_arrow</span>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="card">
               <header id="header">
                  <h1>Custom Alerts</h1>
               </header>
               <div>

               </div>
               <div>
                  <span class="change">{{'number'}}</span>
                  <span class="material-icons" [ngClass]="'decrease'">play_arrow</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</overlay>