<div class="search-container">
  <div class="search-input">
    <input type="text" placeholder="Search" autocomplete="off" autofocus [formControl]="searchControl"
      (input)="onSearch()" (keydown.arrowdown)="onArrowDown()" (keydown.arrowup)="onArrowUp()"
      (keydown.enter)="onEnter()">
  </div>

  <div class="grid-container">
    <div *ngFor="let category of landingItems | keyvalue">
      <ng-container>
        <h3>{{ category.key }}</h3>
        <button *ngFor="let option of category.value" class="button button2" (click)="selectOption(option)">
          {{ option.name }}
        </button>
      </ng-container>
    </div>
  </div>
</div>