<div id="search-form">
  <input name="q" type="text" placeholder="Search" autocomplete="off" autofocus>
</div>

<div class="grid-container">
  <div><button class="button button2" routerLink="/donut">Browser Market Share(Donut)</button></div>
  <div><button class="button button2" routerLink="/voronoi">Global Companies by Market Cap. (Voronoi)</button></div>
  <div><button class="button button2" routerLink="/voronoi-two">World GdP by Pop. (Voronoi)</button></div>
  <div><button class="button button2" routerLink="/earth">Aid Data (FlatEarth)</button></div>
  <div><button class="button button2" routerLink="/sankey">Energy Data (Sankey)</button></div>
  <div><button class="button button2" routerLink="/race">Companies Valuation (Bars)</button></div>
  <div><button class="button button2" routerLink="/analytics">Analytics Dashboard (Bars/Pie)</button></div>
  <div><button class="button button2" routerLink="/metrics">Metrics Dashboard</button></div>
  <div><button class="button button2" routerLink="/dashboard">New Dashboard</button></div>
  <div><button class="button button2" routerLink="/sample">Sample</button></div>
</div>